---
title: The Guide
icon: book
summary: 'A guide helping you to use Plume'
priority: 4
---

<div class="cards">
<% sitemap.resources
    .select{ |p| p.path =~ /\.html/ && p.path != "index.html" && p.url.chomp('/').split('/').size == 3 && p.path =~ /guide\// }
    .sort{ |a, b| a.data.title <=> b.data.title }
    .sort{ |a, b| -(a.data.priority || 0) <=> -(b.data.priority || 0) }
    .each do |res|
%>
    <article>
        <i data-feather="<%= res.data.icon %>"></i>
        <h2>
            <%= link_to res.data.title, res %>
        </h2>
        <p><%= res.data.summary %></p>
    </article>
<% end %>
</div>