<nav>
  <ul>
    <li>
       <% link_to "/index.html" do %><img src="/images/logo.svg" alt="Plume logo">Plume<% end %>
    </li>
    <li>
       <%= link_to "Contribute", "/contribute/index.html" %>
    </li>
    <li>
       <a href="https://git.joinplu.me/Plume/Plume">Source code</a>
    </li>
    <li>
       <a href="https://matrix.to/#/#plume-blog:matrix.org">Chat room</a>
    </li>
  </ul>
</nav>
