---
title: Plume documentation
---

<ul>
<% sitemap.resources.select{ |p| p.path =~ /\.html/ && p.path != "index.html" }.each do |res| %>
    <li><a href="<%= res.url %>"><%= res.data.title %></a></li>
<% end %>
</ul>